*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  /* debug */
  background-color: yellow;
  /* height: 200px; */
  /* fine debug */
}

nav{
  /* debug */
  background-color: #504741;
  height: 50px;
  color: white;
  /* fine debug */
}

main{
  /* debug */
  background-color: green;
  /* fine debug */
}

/* CLEARFIX */
main::after{
  content: "";
  display: table;
  clear: both;
}

aside{
  /* debug */
  background-color: blue;
  height: 250px;
  /* fine debug */
  float: left;
  width: 25%;
}

section{
  /* debug */
  background-color: red;
  height: 800px;
  /* fine debug */
  float: left;
  width: 50%;
}

footer{
  /* debug */
  background-color: grey;
  /* height: 200px; */
  /* fine debug */
}

.left .box{
  /* debug */
  background-color: white;
  height: calc(33% - 5px);
  /* fine debug */
  margin: 5px;
}

.right .box{
  /* debug */
  background-color: white;
  height: calc(50% - 5px);
  /* fine debug */
  margin: 5px;
}

.post{
  background-color: white;
  margin: 5px;
}

.box-small-footer{
  /* debug */
  background-color: white;
  height: 150px;
  border: 1px solid black;
  /* fine debug */
  float: left;
  width: 20%;
}

.box-big-footer{
  /* debug */
  background-color: white;
  height: 150px;
  border: 1px solid black;
  /* fine debug */
  float: left;
  width: 40%;
}

.pie-pagina{
  /* debug */
  background-color: white;
  height: 50px;
  border: 1px solid black;
  /* fine debug */
  clear: both;
  width: 100%;
}

.logo{
  /* debug */
  background-color: yellow;
  height: 150px;
  /* fine debug */
}
